
body {    
    --default-height-padding: 5vh;
    --center-width-padding: 8.1333vw;
    --border-width-padding: 5.3333vw;
    --scoreboard-space: 1.84vw;
    --default-border-radius: 6px; 
    --default-blur: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

@media only screen and (max-height: 850px) {
    body {
        --default-height-padding: 6vh;
    }
}

@media only screen and (max-height: 750px) {
    body {
        --default-height-padding: 4vh;
    }
}

@media only screen and (max-height: 670px) {
    body {
        --default-height-padding: 2.1vh;
    }
}

@media only screen and (max-height: 600px) {
    body {
        --default-height-padding: 2vh;
    }

    .title {
        display: none;
    }
}

.title {
    padding: calc(var(--default-height-padding) / 2) var(--default-height-padding);
    font-family: 'Maitree';  
    font-size: 25px;
    font-weight: 800;
}

.scoreboards {
    padding: calc(var(--default-height-padding) / 2) var(--border-width-padding);
    font-family: 'Maitree';  
}

.scoreboards .score-name {
    border-radius: var(--default-border-radius);
    background-color: var(--ion-background-color);
    box-shadow: var(--default-blur);
    font-size: 15px;
    font-weight: 800;
    line-height: 29px;
}

.scoreboards .main-score {
    font-size: 50px;
    line-height: 50px;
    padding-top: 13px;
    font-weight: 200;
    color: var(--ion-background-color);
}

.scoreboards .victories {
    font-size: 15px;
    font-weight: 300;
    color: var(--ion-background-color);
}

.scoreboards > ion-col:first-child {
    padding-right: calc(var(--center-width-padding) / 2);
}

.scoreboards > ion-col:last-child {
    padding-left: calc(var(--center-width-padding) / 2);
}

.blue-wrapper {
    background-color: #658BC9;
    border-radius: var(--default-border-radius);
    padding: var(--scoreboard-space);
}

.red-wrapper {
    background-color: #C96865;
    border-radius: var(--default-border-radius);
    padding: var(--scoreboard-space);
}

ion-col {
    text-align: center;
    padding: 0px;
}

.scoreboards .buttons {
    padding-top: 13px;
}

.scoreboards .buttons .button-text {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Maitree'; 
}

.historic-wrapper {
    background-color: #658BC9;
    border-radius: var(--default-border-radius);
    margin: calc(var(--default-height-padding) / 2) var(--border-width-padding);
}

.historic-wrapper .header {    
    padding: var(--scoreboard-space);
    border-bottom: 1px solid white;
}

.historic-wrapper .header .historic-title {
    border-radius: var(--default-border-radius);
    background-color: var(--ion-background-color);
    box-shadow: var(--default-blur);
    font-size: 15px;
    font-weight: 800;    
    line-height: 29px;
    font-family: 'Maitree'; 
}

.historic-wrapper .body {
    min-height: 250px;
    max-height: 250px;
    overflow-y: scroll;    
    border-bottom-left-radius: var(--default-border-radius);
    border-bottom-right-radius: var(--default-border-radius);
}

.body::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

ion-list {
    padding: 0px !important;
}

.historic-wrapper .body .red-item {
    background-color: #C96865;
}

.historic-wrapper .body .blue-item {

    background-color: #658BC9;
}

.historic-wrapper .body .blue-item,
.historic-wrapper .body .red-item {
    min-height: 38px;
    line-height: 38px;
    font-size: 15px;
    font-weight: 400;    
    font-family: 'Maitree'; 
    color: var(--ion-background-color);
    padding: 0px 10px;
    border-top: 1px solid var(--ion-background-color);
}

.bottom-buttons {
    padding: calc(var(--default-height-padding) / 2) var(--border-width-padding);
}

.bottom-buttons ion-button {
    min-height: 40px;
}

.bottom-buttons ion-col:first-child ion-button {
    margin-right: calc(var(--center-width-padding) / 2);
}

.bottom-buttons ion-col:last-child ion-button {
    margin-left: calc(var(--center-width-padding) / 2);
}

.bottom-buttons .white-text-button {    
    font-size: 15px;
    font-weight: 400;    
    text-transform: none;        
    font-family: 'Maitree';
    color: var(--ion-background-color);
}

.action-sheet-button-inner.sc-ion-action-sheet-md,
.action-sheet-button-inner.sc-ion-action-sheet-ios {
    font-family: 'Maitree';
}